body {
  display: flex;
  align-items: flex-start;
}

.menu {
  display: inline-block;
  margin-right: 10px;
}

.laptop-list,
.smartphone-list,
.tv-list {
  display: none;
}

.laptop-name,
.smartphone-name,
.tv-name {
  cursor: pointer;
  position: relative;
}

.laptop-description,
.smartphone-description,
.tv-description {
  display: none;
  position: absolute;
  top: 0;
  left: 40%;
  width: 800px;
}

.show {
  display: inline-block;
  width: 600px;
}
